@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div align="center">
    <h2>Authorized. Welcome @ViewData["name"]!</h2>
    <img src="@ViewData["portrait"]" alt="Portrait"/>
    <p>You can close this window.</p>
</div>
